body {
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
}

.container {
    width: 80%;
    margin: auto;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.entry-forms {
    width: 400px;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.login-form {
    width: 300px;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.signup-form {
    width: 300px;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.signup-form input {
    display: block;
    margin: auto;
}

.login-form input {
    display: block;
    margin: auto;
}












