* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/library_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 91vw;
    height: 91vh;
    overflow: auto;
}

li {
    list-style: none;
}

.current-and-all-books {
    display: flex;
    justify-content: space-around;
}

.current-book-section {
    text-align: left;
}

.entry-forms {
    border-radius: 5px;
    width: 400px;
    padding: 20px;
    margin: auto;
    text-align: center;
    background: linear-gradient(45deg, #e664a1, #e66465);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.login-form {
    border-radius: 5px;
    width: 300px;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.signup-form {
    border-radius: 5px;
    width: 300px;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.signup-form input {
    border-radius: 4px;
    display: block;
    margin: auto;
}

.login-form input {
    border-radius: 4px;
    display: block;
    margin: auto;
}

#signup-error, #login-error {
    color: red;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.return-button:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
}

.signout {
    display: flex;
    flex-direction: row-reverse;
}

.signout:hover {
    cursor: pointer;
    border-bottom: 3px black solid;
    color: purple;
}

table {
    border-collapse: separate;
    border-spacing: 0.5em 0.5em;
}

tbody > tr:hover {
    color: orange;
    cursor: pointer;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    text-align: center;
    border-radius: 4px;
    padding: 20px;
}